@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800;900&display=swap');
@import "tailwindcss";

body {
  background-color: rgb(248 250 252);
  color: rgb(15 23 42);
  font-family: 'Inter', sans-serif;
}

/* Premium Range Slider */
input[type=range] {
  height: 0.5rem;
  background-color: rgb(226 232 240);
  border-radius: 0.5rem;
  appearance: none;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border: 4px solid rgb(15 23 42);
  border-radius: 9999px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transition: transform 0.2s;
}

input[type=range]::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}
